<!DOCTYPE HTML>

<html>
	<head>
		<title>Cloud Computing</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->

				<div id="header-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-12">

								<header id="header">
									<h1><a href="/" id="logo">Cloud Project</a></h1>
									<nav id="nav">
										<a href="/">Homepage</a>
										<a href="twocolumn1">Key / Image</a>
										<a href="twocolumn2">All Keys</a>
										<a href="onecolumn"  class="current-page-item">Memory Cache</a>
										<a href="threecolumn">Current Statistics</a>
									</nav>
								</header>

							</div>
						</div>
					</div>
				</div>

			<!-- Banner -->


			<!-- Main -->
				<div id="main">
					<div class="center1">
					<div class="label info"><h2>Configuration</h2></div>

					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<div class="center1">
					<table >
						<tr>
							<th></th>
							<th>Result</th>
							<th>Edit</th>
						</tr>

						<tr><td><h3>Capacity (MB)</h3></td> <form enctype="multipart/form-data" action="/change_capacity" method="post"><td><input type="text" id="text" placeholder= {{capacity}} name="new_size" required></td> <td><button type="submit">Edit</button></td></form></tr>
						<tr><td><h3> Policy Replacement</h3></td> <td> {{ policy }} <td><form action="/change_policy" method="post">
																						<button name="change_policy" type="submit">Change Policy</button></form></td></tr>
						<tr><td><h3>Do you want to clear the cache ?</h3></td><td colspan="2"><form action="/clear" method="post">
							<button name="Clear" type="submit">Clear</button></form>
						<!-- </form><button onclick="deletFunction()">Clear</button> -->
					</td> </tr>

						<tr></tr>
					</table>
					</div>
				</div>


		</div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='/js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='/js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='/js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='/js/main.js') }}"></script>

	</body>
</html>
